body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('background.png');
    background-attachment: fixed;
}
.title {
    margin-top: 150px;
    font-weight: normal;
}
.headline {
    font-size: 80px;
    font-weight: bold;
}

hr {
    width: 90%;
}

/*------------------------< MAIN >------------------------*/

main {
    width: 50%;
    margin-left: calc(25% - 10px - 5px);
    margin-bottom: 90px;
}
main > div {
    margin-bottom: 40px;
    padding: 10px;
    background-color: black;
    border: 5px white solid;
}

#goback {
    position: absolute;
    top: 50px;
    left: 50px;
}

#copyright {
    text-align: right;
}

#copyright::before {
    content: 'copyright ashton havens 1997 all rights reserved';
}